/*
 * @Author: 农村高富帅
 * @Date: 2018-08-19 23:13:16
 * @LastEditors: 农村高富帅
 * @LastEditTime: 2018-09-18 16:24:34
 * @Description: bitsum weap h5
 * @Email: gaozemin0509@gmail.com
 */


.customNavBar {
    position: fixed; 
    width: 100%;
    top: 0;
    width: 100%;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;

    .subNavBar {
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 128px;
        .childrenView {
            margin-top: 40px;
        }
        .leftView {
            min-width: 10px;
            height: 128px;
            text {
                display: block;
                margin-left: 20px;
                color: white;
                font-size: 23px;
                text-align: center;
                line-height: 128px;
            }
        }
    }
}


