.drawer {
  display: none;
}
.drawerCustom {
  position: fixed;
  width: 750px;
  left: 0;

  .drawerContainer {
    position: relative;
    width: 550px;
    background-color: white;
    left: -550px;
    height: 100%;
  }
}

.drawerClose {
  // display: none;
  animation-duration: 0.5s;
  animation-name: drawer-name;
  animation-fill-mode: forwards;
} //drawer

.drawerContainerClose {
  animation-duration: 0.5s;
  animation-name: drawerContainer-name;
  animation-fill-mode: forwards;
}
.drawerOpen {
  animation-duration: 0.5s;
  animation-name: drawerOpen-name;
  animation-fill-mode: forwards;
  display: block;
}
@keyframes drawer-name {
  from {
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
  to {
    background-color: rgba($color: #000000, $alpha: 0);
  }
}
@keyframes drawerOpen-name {
  from {
    background-color: rgba($color: #000000, $alpha: 0);
  }
  to {
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
}

.drawerContainerOpen {
  animation-duration: 0.5s;
  animation-name: drawerContainerOpen-name;
  animation-fill-mode: forwards;
}

@keyframes drawerContainerOpen-name {
  from {
    left: -550px;
  }
  to {
    left: 0px;
  }
}
@keyframes drawerContainer-name {
  from {
    left: 0px;
  }
  to {
    left: -550px;
  }
}

.drawerScrollView {
  text {
    padding-left: 20px;
    display: block;
  }
  .langGroup {
    .langTitle {
      background-color: #f4f6f8;
      height: 40px;
      text {
        font-size: 30px;
        color: black;
        line-height: 40px;
      }
    }
    .langItem {
      background: white;
      border-bottom: 1px solid #eaecef;
      height: 88px;
      text {
        font-size: 28px;
        color: #586069;
        line-height: 88px;
      }
    }
  }
}
