.repoItemView {
  background: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 10px solid #f4f6f8;
  .title {
    text {
      font-size: 36px;
      color: #24292e;
    }
  } // .title end

  .desc {
    margin-top: 20px;
    color: #586069;
    font-size: 28px;
    word-wrap: inherit;
  } // .desc end
  .prop {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    .propItem {
      margin-left: 20px;
    } // .propItem
  } // .prop

  .bottomView {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    .buildBy {
      widows: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      .avatarImage {
        margin-left: 10px;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 6px;
      } //avatarImage
    } // buildBy
  } //bottomView
}
