@import "~taro-ui/dist/style/index.scss";
page {
  background-color: #f4f6f8;
}
.pageIndex {
  background-color: #f4f6f8;
}
.mColor {
  color: #0366d6;
}

.mainBgColor {
  background-color: #0366d6;
}
